<div class="row">
 <div class="booyah-box">
  <h1>Edit the restaurant's info</h1>
  <br/>
  <%= simple_form_for @place do |f| %>
    <%= f.input :name %>
    <br/>
    <%= f.input :address %>
    <br/>
    <%= f.input :description %>
    <br />
    <%= f.submit 'Update', :class => 'btn btn-success' %>
  <% end %>
 </div>
</div> 