<!-- <div class="container">  -->
 
 <!-- <div class="row">
  <%= link_to new_place_path, :class => 'btn btn-success add-restaurant' do %>
    Add a restaurant
  <% end %> 
  
  <span class="pull-right">
    <%= will_paginate @places, :page_links => false %>
  </span>
 </div> -->

 <div class="row">
  <h4 class="browse-title"> Browse through the restaurant listings or add another</h4>
 </div> 

<!-- <div id="carousel-example-generic" class="carousel slide" data-ride="carousel"> -->
  <!-- Indicators -->
  <!-- <ol class="carousel-indicators">
    <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
    <li data-target="#carousel-example-generic" data-slide-to="1"></li>
    <li data-target="#carousel-example-generic" data-slide-to="2"></li>
  </ol> -->

  <!-- Wrapper for slides -->
  <!-- <div class="carousel-inner"> -->
   <!--  <div class="item active">
      <%= image_tag 'slider5.jpg', :class => 'img-responsive' %>
      <div class="carousel-caption col-sm-4">
        The best vegetarian places in Massachusetts
      </div>
    </div>
    <div class="item">
    <%= image_tag 'slider9.jpg', :class => 'img-responsive' %>
    <div class="carousel-caption col-sm-4">
      There are many
    </div>
  </div>
  <div class="item">
    <%= image_tag 'slider10.jpg', :class => 'img-responsive' %>
    <div class="carousel-caption col-sm-4">
      Here is another one
    </div>
  </div>
 -->
 <!--  </div> -->

  <!-- Controls -->
  <!-- <a class="left carousel-control" href="#carousel-example-generic" data-slide="prev">
    <span class="glyphicon glyphicon-chevron-left"></span>
  </a>
  <a class="right carousel-control" href="#carousel-example-generic" data-slide="next">
    <span class="glyphicon glyphicon-chevron-right"></span>
  </a>
</div> -->

<div class="clear"></div>
<% @places.each do |place| %>
<div class="clear"></div>
<div class="row">
 <div class="booyah-box col-xs-12 col-sm-6">
	<h1><%= link_to place.name, place_path(place) %></h1><br />
	
		<i><%= place.address %></i><br /><br />
		<p><%= place.description %></p><br />

		<% if place.user.present? %>
      <small > <%= place.user.user_name %></small>
	  <% end %>
 

	<div class="clear"></div>
	    <% if place.photos.present? %>
       <div class="row">
	    	<div class="col-xs-12 col-sm-4">
	  			<div class="booyah-box">
	  	  			<%= image_tag place.photos.last.picture, :class => 'img-responsive img-rounded' %>
	  	  			<div class="clear"></div>
	  	  			<br/>	
	      			<b><%= place.photos.last.caption %></b>  
	  			</div>
			  </div>
       </div> 
	    <% end %>
	  


    <% if place.comments.present? %>
     <div class="row">
	    <div class="col-xs-12">
		    <blockquote>
		      <% if place.comments.last.humanized_rating.present? %>
		        <b><%= place.comments.last.humanized_rating %></b> -
		      <% end %>
		      <%= place.comments.last.message %>
		      <small><%= place.comments.last.user.user_name %></small>
		    </blockquote>
	  	</div>
     </div> 
	  <% end %>	
  </div>
 </div>
<% end %>

<!-- </div>